{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="custom">
        <header><h1>Welcome to our Human Resources Page</h1></header>

        <br>
        <form>
            <label for="empl" class="Choose"><b>Choose employee:</b></label>
            <select class="select" id="emp">
                <option value="">Name</option>
                <option value="Ahmed">Ahmed</option>
                <option value="Mohamed">Mohamed</option>
                <option value="Ali">Ali</option>
                <option value="Hassan">Hassan</option>
                <option value="Mahmoud">Mahmoud</option>
                <option value="Salah">Salah</option>
            </select>
        </form>
        <br>
    
        <div style="margin-top: 10px">
            <button class="search" onclick="search()">search</button>
    
        </div>
    </div>
  
    </div>
    <script src="{% static 'js/home.js'%}"></script>


{% endblock content%}
