

<div class="container">
    <Nav class="navbar">
        <ul class="navbar-item">
            <li class="navbar-items"> <a class="navbar-link" href="{% url 'home' %}">Home Page</a></li>
            <li class="navbar-items"> <a class="navbar-link" href="{% url 'new' %}">Add A New User</a> </li>
            <li class="navbar-items"> <a class="navbar-link" href="{% url 'search' %}">Table Search</a> </li>
            <li class="navbar-items"> <a class="navbar-link" href="{% url 'vacation' %}">Vaction Page</a> </li>

        </ul>
    </Nav>
</div>
