{% load static %}
<style>
    table, th, td {
        border: 1px solid #DDD;
        padding: 5px;
    }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }
    th, td {
        padding: 7px
    }

    body {
        background-image: url("{% static '/Image/BG.jpeg' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: #EEE
    }
    h1 {
        background-color: #333;
        padding: 15px;
        text-align: center;
    }
</style>